body {
    font: 15px Arial, sams-serif;
    background: white;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

header {
    margin-top: 5px;
    margin-left: 5px;
}

h1 {
    color: darkblue;
    font-family: fantasy;
    margin-top: 1px;
    margin-bottom: 1px;
}

h2 {
    font-family: fantasy;
    margin-top: 1px;
}

h3 {
    font-family: fantasy;
}

p {
    font-size: 18px;
}

.navbar {
    background-color: turquoise;
}
.História {
    background-color: yellowgreen;
}
.Municípios {
    background-color: wheat;
}
.População {
    background-color: darkgray;
}
.densidade-demográfica {
    background-color: blanchedalmond;
}

.Economia {
    background-color: darkseagreen;
}
.Educação {
background-color: cadetblue;
}

.Cultura {
background-color: chartreuse;
}

.Turísmo {
background-color: cyan;
}

.Ilhas {
background-color: rgb(243, 229, 31);
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}
.bg-footer {
    background-color: blue;
    color: white;
    height: 50%;
    background-size: 50;
}

.img_padrao {
    margin-bottom: 30px;
    width: 300px;
    height: 300px;
}

.logo {
    width: 30px;
}

