body {
    font: 16px Arial, sams-serif;
    background: white;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

header {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

h1 {
    color: darkblue;
    font-family: fantasy;
    margin-top: 1px;
    margin-bottom: 1px;
}

h2 {
    font-family: fantasy;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    font-family: fantasy;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
}

.navbar {
    background-color: turquoise;
}
.História {
    background-color: ;
}
.Municípios {
    background-color: ;
}
.População {
    background-color: ;
}
.densidade-demográfica {
    background-color: ;
}

.Economia {
    background-color: ;
}
.Educação {
background-color: ;
}

.Cultura {
background-color: ;
}

.Turísmo {
background-color: ;
}

.Ilhas {
background-color: ;
}

.margin {
    padding-bottom: 5px;
    padding-top: 5px;
}
.bg-footer {
    background-color: ;
    color: black;
    height: 50%;
    background-size: 50%;
}

.img_padrao {
    margin-bottom: 300px;
    width: 300px;
    height: 300px;
}

.logo {
    width: 30px;
}

